<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="MobileAutomationSuite" verbose="1">
    <test name="LaunchApp">
        <classes>
            <class name="com.mobile.automation.tests.LaunchAppTest"/>
        </classes>
    </test>
    <test name="SignupTests">
        <classes>
            <class name="com.mobile.automation.tests.SignupTest"/>
        </classes>
    </test>
</suite>
